/*------begin: Slider Horizontal------*/
.list-product-horizontal--slider {
    border-top: 1px solid #e4e4e4;
    .slick-list {
        .slick-track {
            .slick-slide {
                width: 256px !important;
                margin-right: 8px;
            }
        }
    }
}

.list-brand-slider {
    .slick-list {
        .slick-track {
            .slick-slide {
                width: 256px !important;
                margin-right: 8.5px;
            }
        }
    }
}
/*------end: Slider Horizontal------*/

/*------begin: Slider Vertical------*/
.slider-vertical {
    .slick-list {
        .slick-track {
            .slick-slide {
                width: 258px !important;
                margin-right: 10px;
                > div {
                    > div {
                        &:nth-last-child(1) {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
    .slick-prev {
        padding: 2px;
        left: -10px;
    }
}
/*------end: Slider Vertical------*/

/*------begin: Slideshow Banner------*/
.ccs-banner--slideshow {
    width: 100%;
    max-height: 396px;
    box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    &:hover {
        .slick-next {
            opacity: 1;
        }
        .slick-prev {
            opacity: 1;
        }
    }
    .slick-list {
        .slick-track {
            .slick-slide {
                > div {
                    > img {
                        width: 100%;
                        max-width: 44rem;
                        max-height: 396px;
                    }
                }
            }
        }
    }

    .slick-next {
        opacity: 0.5;
    }
    .slick-prev {
        opacity: 0.5;
        left: 12px;
    }
}
/*------end: Slideshow Banner------*/

// Slick
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    &:focus {
        outline: 0;
    }
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-track {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slick-track {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    &:after {
        display: table;
        content: '';
        clear: both;
    }
    &:before {
        display: table;
        content: '';
    }
}
.slick-loading {
    .slick-slide {
        visibility: hidden;
    }
    .slick-track {
        visibility: hidden;
    }
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    img {
        display: block;
    }
}
[dir='rtl'] {
    .slick-slide {
        float: right;
    }
}
.slick-slide.slick-loading {
    img {
        display: none;
    }
}
.slick-slide.dragging {
    img {
        pointer-events: none;
    }
}
.slick-initialized {
    .slick-slide {
        display: block;
    }
}
.slick-vertical {
    .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

// Slick them
.slick-dots {
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0;
    bottom: 10px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            color: transparent;
            cursor: pointer;
            width: 10px;
            height: 10px;
            margin: 1px 2px;
            padding: 0px;
            outline: none;
            background-color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 50%;
            opacity: 0.7;
            &:focus {
                outline: 0;
                &:before {
                    opacity: 1;
                }
            }
            &:hover {
                outline: 0;
                &:before {
                    opacity: 1;
                }
            }
        }
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    li.slick-active {
        > button {
            background-color: #707070;
            border: 2px solid #707070;
            opacity: 0.5;
        }
    }
}
.slick-next {
    position: absolute;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: 0;
    top: 50%;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: #fff;
    color: #fff;
    z-index: 5;
    box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    > img {
        width: 7px;
        height: 9px;
    }
    &:hover,
    &:focus {
        color: #fff !important;
        outline: none;
        background: #fff !important;
    }
}
.slick-prev {
    position: absolute;
    font-size: 0;
    line-height: 0;
    top: 50%;
    left: 5px;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    z-index: 5;
    background: #fff;
    color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    > img {
        transform: rotate(-180deg);
        width: 7px;
        height: 9px;
    }
    &:hover,
    &:focus {
        color: #fff !important;
        outline: none;
        background: #fff !important;
    }
}
.slick-loading {
    .slick-list {
        // background: url(ajax-loader.gif) center center no-repeat #fff;
    }
}
.slick-next.slick-disabled {
    &:before {
        opacity: 0.25;
    }
}
.slick-prev.slick-disabled {
    &:before {
        opacity: 0.25;
    }
}
[dir='rtl'] {
    .slick-prev {
        right: -25px;
        left: auto;
        &:before {
            content: '→';
        }
    }
    .slick-next {
        right: auto;
        left: -25px;
        &:before {
            content: '←';
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
