.coco-filter-wrapper {
    &--toggle {
        display: flex;
        align-items: center;
        > img {
            padding-right: 8px;
        }
        > span {
            font-family: NunitoSansBold;
            font-size: 16px;
            line-height: 22px;
            text-align: left;
            color: #000000;
            text-transform: uppercase;
        }
    }
    &--collapse {
        .list-group {
            .list-group-title {
                margin-top: 23px;
                font-family: NunitoSansBold;
                font-size: 14px;
                line-height: 20px;
                text-align: left;
                color: #000000;
                text-transform: uppercase;
            }
            .list-group-items {
                .item-group {
                    margin-top: 15px;
                    .item-group-title {
                        font-family: NunitoSansSemiBold;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: left;
                    }
                    .item-group-child {
                        display: flex;
                        flex-direction: column;
                        max-height: 163px;
                        margin-top: 16px;
                        padding-left: 20px;
                        font-family: NunitoSansRegular;
                        font-size: 14px;
                        line-height: 24px;
                        text-align: left;
                        color: #000000;
                        cursor: pointer;
                        overflow-y: auto;
                    }
                }
                .item__expand {
                    .item-group-title {
                        color: #c73030;
                    }
                    .item-group-child {
                        visibility: visible;
                    }
                }
            }
        }
    }
    // Custom scrollbar
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #c73030;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #c73030;
    }
}
