.coco-selectbox-wrap {
    .form-control {
        // width: unset;
        height: unset;
    }
}

.ccs-selectbox {
    > select {
        width: 100%;
        border: 1px solid #bebebe;
        padding: 15px 24px;
    }
    &.ccs-select-price {
        > select {
            min-height: 32px;
            max-width: 124px;
            padding: 0px 12px;
            outline: none;
            background: #ffffff;
            border-color: #ffffff;
            font-family: NunitoSansRegular;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;
            transition: all ease 0.3s;
        }
    }
}
