.ccs-banner-wrap {
    display: flex;
    justify-content: space-between;
    &--left {
        width: 100%;
        max-width: 44rem;
    }
    &--right {
        display: flex;
        flex-direction: column;
        > img {
            width: 100%;
            max-width: 24rem;
            object-fit: cover;
            max-height: 194px;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
            &:nth-last-child(1) {
                margin-top: 8px;
            }
        }
    }
}
