.ccs-banner-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &--left {
        > img {
            width: 44rem;
            object-fit: cover;
            max-height: 400px;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
        }
    }
    &--right {
        display: flex;
        flex-direction: column;
        > img {
            width: 24rem;
            object-fit: cover;
            max-height: 196px;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
            &:nth-last-child(1) {
                margin-top: 8px;
            }
        }
    }
}
