/*---begin: Button circle border---*/
.ccs-btn {
    > button {
        height: 32px;
        outline: none;
        box-shadow: 0px 3px 6px #00000029;
        -moz-box-shadow: 0px 3px 6px #00000029;
        -webkit-box-shadow: 0px 3px 6px #00000029;
        border: 0.5px solid #c73030;
        border-radius: 22px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        > a {
            > span {
                display: flex;
                align-items: center;
            }
        }
    }
}
.ccs-btn-like {
    > button {
        padding: 0 17px;
        background: #ffffff;
        > a {
            > span {
                > img {
                    width: 19px;
                }
            }
        }
    }
}
.ccs-btn-cart {
    > button {
        padding: 0 21px;
        background: #ffffff;
        > a {
            > span {
                > img {
                    width: 19px;
                }
            }
        }
    }
}
.ccs-btn-buy {
    > button {
        padding: 0 15px;
        background: #c73030;
        > a {
            text-decoration: none;
            > span {
                font-family: NunitoSansSemiBold;
                font-size: 14px;
                line-height: 19px;
                color: #ffffff;
                white-space: nowrap;
            }
        }
    }
}
/*---end: Button circle border---*/

/*---begin: Button nav---*/
.ccs-btn-nav {
    > button {
        padding: 0px 21px;
        min-height: 40px;
        background: #ffffff;
        border-color: #ffffff;
        box-shadow: 0px 3px 6px #00000029;
        -moz-box-shadow: 0px 3px 6px #00000029;
        -webkit-box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        white-space: nowrap;
        transition: all ease 0.2s;
        &:focus-within {
            background: #c73030;
            border-color: #c73030;
            outline: none;
            > a {
                > span {
                    color: #ffffff;
                }
            }
        }
        > a {
            text-decoration: none;
            display: flex;
            align-items: center;
            z-index: -1;
            > img {
                padding-right: 7px;
            }
            span {
                transition: all ease 0.3s;
                font-family: NunitoSansRegular;
                font-size: 18px;
                line-height: 24px;
                display: inline-block;
                color: #000000;
                z-index: 2;
                &:nth-last-child(2) {
                    padding-right: 6px;
                }
            }
        }
    }
}
/*---end: Button nav---*/

/*---begin: Button login---*/
.ccs-btn-lg {
    > button {
        height: 48px;
        outline: none;
        border: none;
        border-radius: 5px;
        > a {
            display: flex;
            align-items: center;
            text-decoration: none;
            > img {
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
            > span {
                font-family: NunitoSansSemiBold;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}
.ccs-btn-fb {
    > button {
        background: #39589a;
        padding: 0 37px;
        > a {
            > span {
                color: #ffffff;
            }
        }
    }
}
.ccs-btn-gg {
    > button {
        padding: 0 47px;
        background: #e7ecf7;
        > a {
            > span {
                color: #000000;
            }
        }
    }
}
.ccs-btn-gg-white {
    > button {
        padding: 0 47px;
        background: #4688f1;
        > a {
            > span {
                color: #fff;
            }
        }
    }
}
/*---end: Button login---*/

/*---begin: Button danger---*/
.ccs-btn-danger {
    > button {
        height: 48px;
        outline: none;
        border: none;
        background: #c73030;
        box-shadow: 0px 3px 6px #7c707029;
        -moz-box-shadow: 0px 3px 6px #00000029;
        -webkit-box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            > span {
                font-family: NunitoSansSemiBold;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}
/*---end: Button danger---*/

/*---begin: Button black---*/
.ccs-btn-black {
    > button {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 22px;
        outline: none;
        border: 1px solid #000000;
        background: #ffffff;
        box-shadow: 0px 3px 6px #7c707029;
        -moz-box-shadow: 0px 3px 6px #00000029;
        -webkit-box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            > img {
                width: 1rem;
            }
            > span {
                padding-left: 8px;
                font-family: NunitoSansSemiBold;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #000000;
            }
        }
    }
}
/*---end: Button black---*/

/*---Custome some css attributes---*/
.ccs-text-uppercase {
    > button {
        text-transform: uppercase;
    }
}
.mt-16 {
    margin-top: 1rem;
}
