/*------begin: Type Item product ------*/
.ccs-item-wrap {
    position: relative;
    width: 224px !important;
    &:hover > div {
        opacity: 0.5;
        z-index: -1;
        visibility: hidden;
    }
    &:hover > img {
        opacity: 0.5;
    }
    > img {
        width: 100%;
        min-height: 248px;
    }
    &--label {
        position: absolute;
        // top: 0;
        // left: 0;
    }
    &--discount {
        position: absolute;
        background: url('/media/images/ic-discount.svg') center no-repeat;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 12%;
        width: 20%;
        top: 10px;
        right: 0;
        // box-shadow: 0px 3px 6px #00000029;
        // -moz-box-shadow: 0px 3px 6px #00000029;
        // -webkit-box-shadow: 0px 3px 6px #00000029;
        > span {
            font-family: NunitoSansRegular;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            padding-bottom: 2px;
        }
    }
    &--title {
        font-family: NunitoSansRegular;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        text-align: left;
        margin-top: 16px;
    }
    &--price {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8px;
        > span {
            &:nth-last-child(1) {
                font-family: NunitoSansRegular;
                font-size: 14px;
                line-height: 19px;
                text-decoration: line-through;
                color: #000000;
            }
            &:nth-last-child(2) {
                font-family: NunitoSansBold;
                font-size: 21px;
                line-height: 28px;
                color: #c73030;
                padding-right: 7px;
            }
        }
    }
    &--countdown {
        // width: 100%;
        position: relative;
        margin-top: 13px;
        padding: 2px 0;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        background: #cfcfcf;
        overflow: hidden;
        > div {
            content: '';
            position: absolute;
            padding: 2px 0;
            height: 20px;
            top: 0;
            left: 0;
            background-color: #c73030;
            border-radius: 10px 0px 0px 10px;
        }
        > span {
            font-family: NunitoSansRegular;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            z-index: 2;
        }
    }
}

.item-pd-8-12 {
    padding: 8px 16px 12px 16px;
}

.item-pd-8-16 {
    padding: 8px 16px;
}

.ccs-item-wrap-active {
    position: relative;
    &:hover > &--label {
        opacity: 1;
        z-index: 3;
        visibility: visible;
    }
    &:hover > &--discount {
        opacity: 1;
        z-index: 3;
        visibility: visible;
    }
    &:hover > &--hovered {
        //   width: 100%;
        opacity: 1;
        z-index: 3;
        visibility: visible;
        &:before {
            // content: "";
            // background: url("/Images/product3.jpg") center no-repeat;
            // background-size: cover;
            // opacity: 0.7;
            // top: 0;
            // left: 0;
            // bottom: 0;
            // right: 0;
            // position: absolute;
            // z-index: -1;
        }
    }
    &--hovered {
        //   width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        // padding: 8px 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all ease 0.2s;
        background: transparent;
        .ccs-item-wrap-active--title {
            font-family: NunitoSansRegular;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
        }
        .ccs-item-wrap-active--button {
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
/*------end: Type Item product ------*/

/*------begin: Type Item brand ------*/
.ccs-item-brand {
    margin-top: 16px;
    box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    > img {
        width: 100%;
        max-height: 256px;
        border-radius: 5px 5px 0px 0px;
    }
    &--label {
        padding: 15.5px 0;
        text-align: center;
        > span {
            font-family: NunitoSansBold;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
        }
    }
}
/*------end: Type Item brand ------*/

/*------begin: Type Item article ------*/
.ccs-item-article {
    width: 23%;
    max-height: 480px;
    position: relative;
    &::before {
        position: absolute;
        z-index: 0;
        opacity: 0.3;
        content: '';
        background: #000;
        width: 100%;
        height: 100%;
    }

    &--background {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #ffffff;
        min-height: 480px;
        padding: 0px 24px;
        background: url('/media/images/article1.jpg') center no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .ccs-item-article__body {
            padding: 16px 0px;
            z-index: 5;
            &_title {
                font-family: NunitoSansSemiBold;
                font-size: 18px;
                line-height: 26px;
                color: #ffffff;
                text-transform: uppercase;
            }
            &_description {
                margin-top: 8px;
                font-family: NunitoSansRegular;
                font-size: 14px;
                line-height: 19px;
                color: #ffffff;
            }
        }
    }
}
/*------end: Type Item article ------*/

/*------begin: Type Item store ------*/
.ccs-item-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--img {
        width: 100%;
        max-width: 13rem;
        height: 13rem;
        padding: 6px 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f3f3f3;
        border-radius: 50%;
        border: 3px solid #000000;
        > img {
            display: inline-block;
            width: 100%;
            max-width: 12.4rem;
            height: 12.4rem;
            border-radius: 50%;
            border: 3px solid #000000;
        }
    }
    &--text {
        display: flex;
        flex-direction: column;
        > span {
            text-align: center;
            &:nth-last-child(1) {
                margin-top: 7px;
                font-family: NunitoSansRegular;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
            &:nth-last-child(2) {
                margin-top: 16px;
                font-family: NunitoSansBold;
                font-size: 14px;
                line-height: 19px;
                color: #000000;
                text-transform: uppercase;
            }
        }
    }
}
/*------end: Type Item store ------*/

/*------begin: Type Item cart ------*/
.ccs-cart-product {
    width: 100%;
    display: flex;
    &--thumb {
        max-width: 112px;
        min-width: 112px;
        > img {
            width: 100%;
        }
    }
    &--body {
        padding: 0 16px;
        &__title {
            margin-top: 8px;
            font-family: NunitoSansBold;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        &__subtitle {
            padding-bottom: 16px;
            font-family: NunitoSansSemiBold;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        > span {
            font-family: NunitoSansRegular;
            font-size: 16px;
            line-height: 24px;
            color: #c73030;
        }
    }
}
/*------end: Type Item cart ------*/

/*------begin: Type Item order ------*/
.ccs-cart-item-order {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    border-bottom: 1px solid #e5e4e4;
    &--thumb {
        max-width: 128px;
        min-width: 128px;
        > img {
            width: 100%;
        }
    }
    &--body {
        width: 48%;
        padding: 0 16px;
        color: #000000;
        font-family: NunitoSansSemiBold;
        font-size: 16px;
        line-height: 24px;
        .ccs-cart-item-order--title {
            margin-top: 8px;
        }
        .ccs-cart-item-order--subtitle {
            padding-bottom: 8px;
        }
    }
    &--price {
        font-family: NunitoSansSemiBold;
        font-size: 21px;
        line-height: 28px;
        color: #c73030;
        white-space: nowrap;
    }
}
/*------end: Type Item order ------*/
