@charset 'UTF-8';
@font-face {
	font-family: slick;
	font-weight: 400;
	font-style: normal;
	// src: url(fonts/slick.eot);
	// src: url(fonts/slick.eot?#iefix) format('embedded-opentype'), url(fonts/slick.woff) format('woff'), url(fonts/slick.ttf) format('truetype'), url(fonts/slick.svg#slick) format('svg');
}
.slick-dots {
	position: absolute;
	display: block;
	padding: 0;
	bottom: -25px;
	width: 100%;
	margin: 0;
	list-style: none;
	text-align: center;
	li {
		button {
			&:before {
				font-family: slick;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 6px;
				line-height: 20px;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				content: '•';
				text-align: center;
				opacity: 0.25;
				color: #000;
			}
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: 0;
			background: 0 0;
			&:focus {
				outline: 0;
				&:before {
					opacity: 1;
				}
			}
			&:hover {
				outline: 0;
				&:before {
					opacity: 1;
				}
			}
		}
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
	}
	li.slick-active {
		button {
			&:before {
				opacity: 0.75;
				color: #000;
			}
		}
	}
}
.slick-next {
	position: absolute;
	display: block;
	padding: 0;
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
	right: -25px;
	&:before {
		font-family: slick;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 20px;
		line-height: 1;
		opacity: 0.75;
		color: #fff;
		content: '→';
	}
}
.slick-prev {
	position: absolute;
	display: block;
	padding: 0;
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
	left: -25px;
	&:before {
		font-family: slick;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 20px;
		line-height: 1;
		opacity: 0.75;
		color: #fff;
		content: '←';
	}
}
.slick-loading {
	.slick-list {
		// background: url(ajax-loader.gif) center center no-repeat #fff;
	}
}
.slick-next.slick-disabled {
	&:before {
		opacity: 0.25;
	}
}
.slick-prev.slick-disabled {
	&:before {
		opacity: 0.25;
	}
}
[dir='rtl'] {
	.slick-prev {
		right: -25px;
		left: auto;
		&:before {
			content: '→';
		}
	}
	.slick-next {
		right: auto;
		left: -25px;
		&:before {
			content: '←';
		}
	}
}
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}
