/*------begin: HEADER TOP------*/
.header-top {
    max-width: 1320px;
    margin: 0 auto;
    padding: 7px 0px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--phone {
        display: flex;
        align-items: center;
        > img {
            background: #000;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid #ffffff;
        }
        > span {
            font-family: NunitoSansRegular;
            font-size: 14px;
            line-height: 19px;
            padding-left: 8px;
            color: #fff;
        }
    }

    &--title {
        font-family: NunitoSansRegular;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
    }

    &--language {
        display: flex;
        .btnLang {
            > button {
                cursor: pointer;
                padding: 1px 9px;
                background: #000000;
                outline: none;
                border: none;
                transition: all ease 0.3s;
                > a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    span {
                        transition: all ease 0.3s;
                        font-family: NunitoSansBold;
                        font-size: 16px;
                        line-height: 22px;
                        display: inline-block;
                        color: #ffffff;
                    }
                }
                &:focus {
                    background: #fff;
                    span {
                        color: #000000;
                    }
                }
                &:hover {
                    background: #fff;
                    span {
                        color: #000000;
                    }
                }
            }
        }
    }
}
/*------end HEADER TOP------*/
