/*------begin: HEADER BOTTOM------*/
.header-bottom {
    max-width: 1648px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*------end: HEADER BOTTOM------*/


/*------begin: MENU------*/
.coco-menu__wrapper {
    max-width: 1648px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-dropdown-actived {
    }
}
/*------end: MENU------*/

/*------begin: DROPDOWN------*/
.coco-menu-dropdownd_x {
    position: relative;
    flex: 1;
    white-space: nowrap;
    padding: 13px 26px;
    text-align: center;
    &:hover {
        background: #272727;
    }
    &:hover .coco-menu-dropdownd-x_wrap__list {
        opacity: 1 !important;
        display: block !important;
        visibility: visible !important;
        z-index: 5;
    }
    .coco-menu-dropdownd-x_wrap {
        display: inline-block;
        background: transparent;
        color: #fff;
        > span {
            font-family: NunitoSansRegular;
            font-size: 16px;
            line-height: 21px;
        }
    }

    .coco-menu-dropdownd-x_wrap__list {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #f9f9f9;
        color: #000;
        // padding: 13px 0px;
        top: 50px;
        left: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        .coco-md-x-wrap_list_item {
            padding: 12px 26px;
        }
    }
    .coco-mdx-wrap_list__sale {
        .coco-md-x-wrap_list_item {
            white-space: nowrap;
            background: #ffffff;
            &:hover {
                display: block;
                color: #fff;
                background: #c73030;
            }
        }
    }

    .coco-mdx-wrap_list__tracking {
        width: unset;
        padding: 16px;
        background: #f9f9f9;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .coco-mdxw-list-tracking__input {
                > input {
                    min-width: 246px;
                    padding: 8px 16px;
                    font-family: NunitoSansRegular;
                    font-size: 16px;
                    line-height: 21px;
                    background: #ffffff;
                    border-color: transparent;
                    outline: none;
                    box-shadow: 0px 3px 3px #0000001a;
                    -moz-box-shadow: 0px 3px 6px #0000001a;
                    -webkit-box-shadow: 0px 3px 6px #0000001a;
                    border-radius: 5px;
                }
            }
            .coco-mdxw-list-tracking__button {
                > button {
                    margin-top: 16px;
                    padding: 10px 37px;
                    background: #000000;
                    box-shadow: 0px 3px 6px #00000029;
                    -moz-box-shadow: 0px 3px 6px #00000029;
                    -webkit-box-shadow: 0px 3px 6px #00000029;
                    border-radius: 5px;
                    > a {
                        text-decoration: none;
                        > span {
                            font-family: NunitoSansSemiBold;
                            font-size: 14px;
                            line-height: 19px;
                            color: #ffffff;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    .coco-mdx-wrap_list__app {
        width: unset;
        padding: 0px 16px 16px 16px;
        background: #f9f9f9;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            > img {
            }
            .coco-mdxw-list-app_icon {
                width: 100%;
                display: flex;
                justify-content: space-between;
                > div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    > img {
                        width: 19px;
                        height: 24px;
                    }
                    > span {
                        padding-left: 8px;
                        font-family: NunitoSansSemiBold;
                        font-size: 18px;
                        line-height: 25px;
                        color: #707070;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

/*------end: DROPDOWN------*/

/*------begin: DROPDOWN MENU------*/
.coco-menu_dropdown {
    padding: 13px 26px;
    position: relative;
    width: 17%;
    &:hover {
        background: #272727;
    }
    &:hover .coco-menu-dropdown_detail__content {
        opacity: 1 !important;
        z-index: 5;
        display: block;
        visibility: visible !important;
    }

    .coco-menu-dropdown_detail {
        display: flex;
        background: transparent;
        // padding: 13px 28px;
        color: #fff;
        > span {
            padding: 0 8px;
            font-family: NunitoSansRegular;
            font-size: 16px;
            line-height: 20px;
            white-space: nowrap;
        }
        .coco-menu-dropdown_detail__hamburger {
            display: block;
            padding: 0 8px;
            .line {
                width: 24px;
                background: #ffffff;
                border-radius: 2px;
                margin: 2px 0;
                padding: 2px 0;
            }
        }
    }

    .coco-menu-dropdown_detail__content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        // min-height: 484px;
        background-color: #f9f9f9;
        color: #000;
        top: 47px;
        left: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        .coco-mdd_content__item {
            padding: 11.5px 24px;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #00000029;
            // transition: all ease 0.2s;
            cursor: pointer;
            > span {
                font-family: NunitoSansRegular;
                font-size: 15px;
                line-height: 20px;
                &:hover {
                    display: block;
                }
            }
            &:hover {
                border-bottom: 2px solid #00000029;
            }
            &:hover > span {
                font-family: NunitoSansBold;
                font-size: 16px;
                line-height: 21px;
            }
            &:hover .coco-mdd-content_item__child {
                opacity: 1;
                display: block;
                visibility: visible;
            }
        }
        .coco-mdd-content_item__child {
            opacity: 0;
            visibility: hidden;
            width: 100%;
            min-width: 50rem;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 100%;
            margin-left: 0px;
            background-color: #ffffff;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
            z-index: 1;
            // padding: 16px 24px;
            border-left: 1px solid #00000029;
            // overflow: hidden;
            > div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;
                .coco-mddd-item_child__block1 {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    padding: 16px 24px;
                    overflow: hidden;
                    .coco-mdddi-child_block1__header {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        > div {
                            margin-right: 16px;
                            padding: 10px 15px;
                            background: #ffffff;
                            box-shadow: 0px 3px 6px #00000029;
                            -moz-box-shadow: 0px 3px 6px #00000029;
                            -webkit-box-shadow: 0px 3px 6px #00000029;
                            border-radius: 5px;
                            &:nth-last-child(1) {
                                margin-right: 0;
                            }
                            > span {
                                white-space: nowrap;
                                font-family: NunitoSansRegular;
                                font-size: 16px;
                                line-height: 21px;
                                color: #000000;
                                &:hover {
                                    font-family: NunitoSansBold;
                                }
                            }
                        }
                    }
                    .coco-mdddi-child_block1__content {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        color: #000000;
                        .coco-mdddic-block1_content__col {
                            width: 45%;
                            margin-top: 16px;
                            .coco-mdddic-block1-content_col__title {
                                font-family: NunitoSansBold;
                                font-size: 16px;
                                line-height: 22px;
                            }
                            .coco-mdddic-block1-content_col__subtitle {
                                // margin-top: 10px;
                                display: flex;
                                flex-direction: column;
                                padding: 0 20px;
                                > span {
                                    margin-top: 10px;
                                    font-family: NunitoSansRegular;
                                    font-size: 16px;
                                    line-height: 28px;
                                    white-space: nowrap;
                                    &:hover {
                                        font-family: NunitoSansBold;
                                    }
                                }
                            }
                        }
                    }
                }
                .coco-mddd-item_child__block2 {
                    width: 35%;
                    > img {
                        width: 335px;
                        // height: 496px;
                        max-height: 484px;
                        object-fit: cover;
                    }
                }
                // .dmdci-child-block2 {
                //   width: 35%;
                //   z-index: 1;
                //   &:before {
                //     content: "";
                //     background: url("/Images/trangdiem.png") center no-repeat;
                //     background-repeat: no-repeat;
                //     background-position: 100% 50%;
                //     background-size: cover;
                //     opacity: 1;
                //     top: 0;
                //     left: 0;
                //     bottom: 0;
                //     right: 0;
                //     position: absolute;
                //     z-index: -1;
                //   }
                // }
            }
        }
    }
}

.coco-active-dropdown {
    background: #272727;
    .coco-menu-dropdown_detail {
        .coco-menu-dropdown_detail__content {
            opacity: 1;
            visibility: visible;
        }
    }
}
/*------end: DROPDOWN MENU------*/
