// body
body {
    margin: 0 auto;
}

// Warpper
.coco-page-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #f3f3f3;

    &--header {
        background: #000000;
    }

    .layout_overlay {
        background: #000000;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        opacity: 0.4;
        // background: rgba(0, 0, 0, 0.53);
    }

    .coco-floating-icons__wrapper {
        &--icons {
            display: flex;
            flex-direction: column;
            position: fixed;
            z-index: 5;
            padding: 12px 8px;
            top: 50%;
            right: 1%;
            background: #ffffff;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
            border-radius: 24px;

            > img {
                margin-top: 16px;
                &:nth-child(1) {
                    margin-top: 0;
                }
            }
        }

        &--scrolltop {
            display: flex;
            align-items: center;
            position: fixed;
            z-index: 5;
            margin-top: 16px;
            cursor: pointer;
            // padding: 16px 20px;
            // background: #ffffff;
            top: 77%;
            right: 1%;
            box-shadow: 0px 3px 6px #00000029;
            -moz-box-shadow: 0px 3px 6px #00000029;
            -webkit-box-shadow: 0px 3px 6px #00000029;
            border-radius: 50%;
            transition: all ease 1s;
            > img {
                width: 36px;
            }
        }
    }

    .coco-chatbox__wrapper {
        width: 9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 24px;
        z-index: 5;
        position: fixed;
        bottom: 0;
        right: 0;
        background: #000000;
        border-radius: 5px 5px 0px 0px;
        > img {
            width: 13px;
        }
        > div {
            display: flex;
            align-items: center;
            > span {
                font-family: NunitoSansRegular;
                font-size: 11px;
                line-height: 15px;
                color: #ffffff;
                white-space: nowrap;
                padding-right: 11px;
                > img {
                    width: 9px;
                }
            }
        }

        // Hide
        &.hidden {
            display: none;
            transition: all ease 0.3s;
        }
    }
}

.layout_overlay {
    background: #000000;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

@include c-media-above(md) {
    // Container
    .container {
        margin: 0 auto;
        max-width: 1320px;
        background: #f3f3f3;
    }
}
