.product-detail-wrap {
    .coco-breadcrumb-wrap {
        padding: 14px 0;
    }
    .product-detail-body {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #d4d4d4;
        &--left {
            width: 80%;
            margin-top: 1rem;
            max-width: 1044px;
            .tab-product-detail {
                display: flex;
                justify-content: space-between;
                background: #ffffff;
                padding: 8px 8px 16px 8px;
                box-shadow: 0px 3px 6px #00000029;
                -moz-box-shadow: 0px 3px 6px #00000029;
                -webkit-box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                .tab-product--left {
                    width: 45%;
                    max-width: 456px;
                    display: flex;
                    flex-direction: column;
                    .product-images-group {
                        display: flex;
                        justify-content: space-between;
                        .product-images {
                            display: flex;
                            flex-direction: column;
                            > a {
                                margin-top: 8px;
                                border-radius: 5px;
                                border: 1px solid rgb(204, 204, 204);
                                cursor: pointer;
                                overflow: hidden;
                                &:nth-child(1) {
                                    margin-top: 0;
                                }
                                > img {
                                    width: 100%;
                                    max-width: 56px;
                                    max-height: 56px;
                                }
                                &:focus,
                                &:active {
                                    border-color: rgb(24, 158, 255);
                                }
                            }
                            .active {
                                border-color: rgb(24, 158, 255);
                            }
                        }
                        .product-thumbnail {
                            > img {
                                width: 100%;
                                max-width: 384px;
                                border-radius: 5px;
                            }
                        }
                    }
                    .list-button-group {
                        margin-top: 31px;
                        display: flex;
                        justify-content: flex-end;
                        > div {
                            > span {
                                font-family: NunitoSansRegular;
                                font-size: 14px;
                                line-height: 19px;
                                color: #000000;
                            }
                            > img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .share-buttons {
                            display: flex;
                            justify-content: flex-start;
                            > img {
                                padding-left: 5px;
                            }
                        }
                        .like-button {
                            display: flex;
                            justify-content: flex-start;
                            padding: 0 38px;
                            > img {
                                padding-right: 6px;
                            }
                        }
                    }
                }
                .tab-product--right {
                    width: 55%;
                    max-width: 556px;
                    display: flex;
                    flex-direction: column;
                    .product-brand .product-name {
                        font-family: NunitoSansBold;
                        font-size: 18px;
                        line-height: 25px;
                        color: #000000;
                    }
                    .product-sub-info {
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        &--item {
                            display: flex;
                            position: relative;
                            padding-right: 24px;
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            color: #000000;
                            &:nth-child(1) {
                                &::before {
                                    display: none;
                                }
                            }
                            &::before {
                                content: '';
                                width: 1px;
                                height: 13px;
                                border-left: 0.5px solid #707070;
                                position: absolute;
                                left: -12px;
                                top: 3px;
                            }
                            > a {
                                > img {
                                    width: 14px;
                                }
                            }
                            > span {
                                padding-left: 7.4px;
                            }
                        }
                    }
                    .product-price {
                        margin-top: 1rem;
                        font-family: NunitoSansBold;
                        font-size: 21px;
                        line-height: 21px;
                        color: #c73030;
                    }
                    .product-gift {
                        margin-top: 4px;
                        max-width: 400px;
                        display: flex;
                        flex-direction: column;
                        padding: 8px 12px;
                        border: 1px dashed #707070;
                        border-radius: 5px;
                        &--title {
                            > img {
                                width: 19px;
                            }
                            > span {
                                font-family: NunitoSansRegular;
                                font-size: 14px;
                                line-height: 19px;
                                color: #c73030;
                            }
                        }
                        &--detail {
                            margin-top: 4px;
                            display: flex;
                            align-items: center;
                            > img {
                                width: 100%;
                                max-width: 40px;
                                max-height: 40px;
                                border: 0.5px solid #707070;
                                border-radius: 5px;
                            }
                            .product-gift_info {
                                display: flex;
                                flex-direction: column;
                                > span {
                                    padding-left: 10px;
                                    font-family: NunitoSansRegular;
                                    font-size: 13px;
                                    line-height: 17px;
                                    color: #000000;
                                    > span {
                                        font-family: NunitoSansBold;
                                        color: #c73030;
                                    }
                                }
                            }
                        }
                    }
                    .product-type {
                        margin-top: 32px;
                        &--item {
                            cursor: pointer;
                            padding-left: 1rem;
                            &:nth-child(1) {
                                padding-left: 0;
                            }
                            > img {
                                width: 100%;
                                max-width: 40px;
                                max-height: 40px;
                                border-radius: 5px;
                                border: 0.5px solid #707070;
                                &:focus,
                                &:active {
                                    border-color: rgb(24, 158, 255);
                                }
                            }
                        }
                    }
                    .product-quantity {
                        margin-top: 8px;
                        > span {
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            padding-right: 11px;
                        }
                        > input {
                            max-width: 40px;
                            padding: 6px;
                            background: #ffffff;
                            border-color: transparent;
                            border-radius: 5px;
                            box-shadow: 0px 3px 6px #00000029;
                            -moz-box-shadow: 0px 3px 6px #00000029;
                            -webkit-box-shadow: 0px 3px 6px #00000029;
                        }
                    }
                    .product-delivery {
                        margin-top: 12px;
                        display: flex;
                        justify-content: flex-start;
                        > img {
                            width: 38px;
                        }
                        > span {
                            width: 75%;
                            padding-left: 13px;
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                    .product-buttons-group {
                        margin-top: 20px;
                        display: flex;
                        justify-content: flex-start;
                        .ccs-button-cpn {
                            margin-left: 1rem;
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            .tab-info-product-detail {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                background: #ffffff;
                box-shadow: 0px 3px 6px #00000029;
                -moz-box-shadow: 0px 3px 6px #00000029;
                -webkit-box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                .main-nav-tab {
                    background: #e5e4e4;
                    border-radius: 5px 5px 0px 0px;
                    box-shadow: 0px 3px 6px #00000029;
                    -moz-box-shadow: 0px 3px 6px #00000029;
                    -webkit-box-shadow: 0px 3px 6px #00000029;
                    .group-tabs {
                        display: flex;
                        align-items: center;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        .tab-item {
                            padding: 10px 16px;
                            transition: all ease 0.3s;
                            border-right: 1px solid #c8d1dc;
                            border-radius: 5px 0px 0px 0px;
                            > a {
                                text-decoration: none;
                                font-family: NunitoSansRegular;
                                font-size: 14px;
                                line-height: 19px;
                                color: #000000;
                            }
                        }
                        .active {
                            background: #ffffff;
                            border-bottom: 2px solid #c73030;
                            > a {
                                font-family: NunitoSansBold;
                            }
                        }
                    }
                }
                .tab-content {
                    padding: 16px;
                    overflow: hidden;
                    &--description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .title-desciption {
                            margin-top: 1rem;
                            font-family: NunitoSansBold;
                            font-size: 18px;
                            line-height: 25px;
                            padding-bottom: 7px;
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                z-index: 2;
                                width: 50%;
                                border-bottom: 1px solid #c73030;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                width: 100%;
                                border-bottom: 1px solid #e4e4e4;
                            }
                        }
                        .content-desciption {
                            margin-top: 1rem;
                        }
                        .poster-sm-description {
                            margin-top: 31px;
                            padding: 0 16px;
                            display: flex;
                            justify-content: space-between;
                            > img {
                                width: 100%;
                                max-width: 476px;
                                max-height: 432px;
                            }
                        }
                        .poster-lg-description {
                            margin-top: 31px;
                            display: flex;
                            justify-content: center;
                            > img {
                                width: 100%;
                                max-width: 720px;
                            }
                        }
                    }
                    &--attribute {
                        margin-top: 24px;
                        padding: 8px 16px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #e5e4e4;
                        border-radius: 5px 5px 0px 0px;
                        box-shadow: 0px 3px 6px #00000029;
                        -moz-box-shadow: 0px 3px 6px #00000029;
                        -webkit-box-shadow: 0px 3px 6px #00000029;
                        > span {
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            color: #000000;
                        }
                    }
                    &--guide {
                        .title-guide {
                            margin-top: 24px;
                            font-family: NunitoSansBold;
                            font-size: 18px;
                            line-height: 25px;
                            padding-bottom: 7px;
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                z-index: 2;
                                width: 18%;
                                border-bottom: 1px solid #c73030;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                width: 100%;
                                border-bottom: 1px solid #e4e4e4;
                            }
                        }
                        .content-guide {
                            margin-top: 1rem;
                            font-family: NunitoSansRegular;
                            font-size: 16px;
                            line-height: 24px;
                            color: #000000;
                        }
                    }
                    &--feedback {
                        .title-feedback {
                            margin-top: 24px;
                            font-family: NunitoSansBold;
                            font-size: 18px;
                            line-height: 25px;
                            padding-bottom: 7px;
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                z-index: 2;
                                width: 10%;
                                border-bottom: 1px solid #c73030;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                width: 100%;
                                border-bottom: 1px solid #e4e4e4;
                            }
                        }
                        .subtitle-feedback {
                            margin-top: 1rem;
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            color: #000000;
                        }
                        .rating-feedback {
                            display: flex;
                            .rating--box {
                                width: 54%;
                                max-width: 542px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                &_point {
                                    display: flex;
                                    flex-direction: column;
                                    > span {
                                        margin-top: 13px;
                                        font-family: NunitoSansRegular;
                                        font-size: 14px;
                                        line-height: 19px;
                                        color: #000000;
                                    }
                                    .rating-total-point {
                                        margin-top: 7px;
                                        font-family: NunitoSansBold;
                                        font-size: 80px;
                                        line-height: 80px;
                                        text-align: center;
                                        color: #c73030;
                                    }
                                    > div {
                                        > img {
                                        }
                                        > span {
                                            padding-left: 6px;
                                            font-family: NunitoSansRegular;
                                            font-size: 14px;
                                            line-height: 19px;
                                            color: #000000;
                                        }
                                    }
                                }
                                &_process {
                                    .process-line {
                                        margin-top: 12px;
                                        display: flex;
                                        align-items: center;
                                        &:nth-child(1) {
                                            margin-top: 0;
                                        }
                                        .countbar {
                                            content: '';
                                            width: 6.375rem;
                                            height: 12px;
                                            border-radius: 2px;
                                            position: relative;
                                            margin-left: 11px;
                                            margin-right: 13px;
                                            &:before {
                                                content: '';
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                                z-index: 2;
                                                width: 18%;
                                                border-radius: 2px;
                                                border-bottom: 12px solid
                                                    #c73030;
                                            }
                                            &:after {
                                                content: '';
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                                width: 100%;
                                                border-radius: 2px;
                                                border-bottom: 12px solid
                                                    #e5e4e4;
                                            }
                                        }
                                        .point {
                                            display: flex;
                                            > span {
                                                &:nth-last-child(2) {
                                                    width: 30px;
                                                }
                                                &:nth-last-child(1) {
                                                    white-space: nowrap;
                                                    padding-left: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .making-feedback {
                                width: 46%;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                justify-content: center;
                                > span {
                                    font-family: NunitoSansRegular;
                                    font-size: 14px;
                                    line-height: 19px;
                                    color: #000000;
                                }
                                .btn-feedback {
                                    > button {
                                        margin-top: 18px;
                                        min-height: 39px;
                                        min-width: 192px;
                                        > a {
                                            .title-button {
                                                justify-content: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .content-feedback {
                        }
                    }
                }
            }
        }
        &--right {
            width: 19%;
            margin-top: 1rem;
            max-width: 240px;
            background: aliceblue;
            .tab-delivery {
            }

            .tab-product-related {
            }
            .tab-product-trending {
            }
        }
    }
}
