.product-detail-wrap {
    padding-bottom: 80px;
    .coco-breadcrumb-wrap {
        padding: 14px 0;
    }
    .product-detail-body {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #d4d4d4;
        &--left {
            width: 80%;
            margin-top: 1rem;
            max-width: 1044px;
            .tab-product-detail {
                display: flex;
                justify-content: space-between;
                background: #ffffff;
                padding: 8px 8px 16px 8px;
                box-shadow: 0px 3px 6px #00000029;
                -moz-box-shadow: 0px 3px 6px #00000029;
                -webkit-box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                .tab-product--left {
                    width: 45%;
                    max-width: 456px;
                    display: flex;
                    flex-direction: column;
                    .product-images-group {
                        display: flex;
                        justify-content: space-between;
                        .product-images {
                            display: flex;
                            flex-direction: column;
                            > a {
                                margin-top: 8px;
                                border-radius: 5px;
                                border: 1px solid rgb(204, 204, 204);
                                cursor: pointer;
                                overflow: hidden;
                                max-width: 56px;
                                max-height: 56px;
                                &:nth-child(1) {
                                    margin-top: 0;
                                }
                                > img {
                                    width: 100%;
                                    object-fit: cover;
                                }
                                &:focus,
                                &:active {
                                    border-color: rgb(24, 158, 255);
                                }
                            }
                            .active {
                                border-color: rgb(24, 158, 255);
                            }
                        }
                        .product-thumbnail {
                            > img {
                                width: 100%;
                                max-width: 384px;
                                border-radius: 5px;
                            }
                        }
                    }
                    .list-button-group {
                        margin-top: 31px;
                        display: flex;
                        justify-content: flex-end;
                        > div {
                            > span {
                                font-family: NunitoSansRegular;
                                font-size: 14px;
                                line-height: 19px;
                                color: #000000;
                            }
                            > img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .share-buttons {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            > img {
                                padding-left: 5px;
                            }
                        }
                        .like-button {
                            display: flex;
                            justify-content: flex-start;
                            padding: 0 38px;
                            > img {
                                padding-right: 6px;
                            }
                        }
                    }
                }
                .tab-product--right {
                    width: 55%;
                    max-width: 556px;
                    display: flex;
                    flex-direction: column;
                    .product-brand .product-name {
                        font-family: NunitoSansBold;
                        font-size: 18px;
                        line-height: 25px;
                        color: #000000;
                    }
                    .product-sub-info {
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        &--item {
                            display: flex;
                            align-items: center;
                            position: relative;
                            padding-right: 24px;
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            color: #000000;
                            &:nth-child(1) {
                                &::before {
                                    display: none;
                                }
                            }
                            &::before {
                                content: '';
                                width: 1px;
                                height: 13px;
                                border-left: 0.5px solid #707070;
                                position: absolute;
                                left: -12px;
                                top: 3px;
                            }
                            > img {
                                width: 14px;
                            }
                            > span {
                                padding-left: 7px;
                            }
                        }
                    }
                    .product-price {
                        margin-top: 1rem;
                        font-family: NunitoSansBold;
                        font-size: 21px;
                        line-height: 21px;
                        color: #c73030;
                    }
                    .product-gift {
                        margin-top: 4px;
                        max-width: 400px;
                        display: flex;
                        flex-direction: column;
                        padding: 8px 19px;
                        border: 1px dashed #707070;
                        border-radius: 5px;
                        &--title {
                            display: flex;
                            align-items: center;
                            > img {
                                width: 19px;
                            }
                            > span {
                                font-family: NunitoSansRegular;
                                font-size: 14px;
                                line-height: 19px;
                                color: #c73030;
                                padding-left: 5px;
                            }
                        }
                        &--detail {
                            margin-top: 5px;
                            display: flex;
                            align-items: center;
                            > img {
                                width: 100%;
                                max-width: 40px;
                                max-height: 40px;
                                object-fit: cover;
                                border: 0.5px solid #707070;
                                border-radius: 5px;
                            }
                            .product-gift_info {
                                display: flex;
                                flex-direction: column;
                                > span {
                                    padding-left: 8px;
                                    font-family: NunitoSansRegular;
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #000000;
                                    > span {
                                        font-family: NunitoSansBold;
                                        color: #c73030;
                                    }
                                }
                            }
                        }
                    }
                    .product-type {
                        margin-top: 32px;
                        &--item {
                            cursor: pointer;
                            padding-left: 1rem;
                            &:nth-child(1) {
                                padding-left: 0;
                            }
                            > img {
                                width: 100%;
                                max-width: 40px;
                                max-height: 40px;
                                object-fit: cover;
                                border-radius: 5px;
                                border: 0.5px solid #707070;
                                &:focus,
                                &:active {
                                    border-color: rgb(24, 158, 255);
                                }
                            }
                        }
                    }
                    .product-quantity {
                        margin-top: 8px;
                        > span {
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            padding-right: 11px;
                        }
                        > input {
                            max-width: 40px;
                            padding: 6px;
                            background: #ffffff;
                            border-color: transparent;
                            border-radius: 5px;
                            box-shadow: 0px 3px 6px #00000029;
                            -moz-box-shadow: 0px 3px 6px #00000029;
                            -webkit-box-shadow: 0px 3px 6px #00000029;
                        }
                    }
                    .product-delivery {
                        margin-top: 12px;
                        display: flex;
                        justify-content: flex-start;
                        > img {
                            width: 38px;
                        }
                        > span {
                            width: 75%;
                            padding-left: 13px;
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            > span {
                                color: #c73030;
                            }
                        }
                    }
                    .product-buttons-group {
                        margin-top: 20px;
                        display: flex;
                        justify-content: flex-start;
                        .ccs-button-cpn {
                            margin-left: 1rem;
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            .tab-info-product-detail {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                background: #ffffff;
                box-shadow: 0px 3px 6px #00000029;
                -moz-box-shadow: 0px 3px 6px #00000029;
                -webkit-box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                .main-nav-tab {
                    background: #e5e4e4;
                    border-radius: 5px 5px 0px 0px;
                    box-shadow: 0px 3px 6px #00000029;
                    -moz-box-shadow: 0px 3px 6px #00000029;
                    -webkit-box-shadow: 0px 3px 6px #00000029;
                    .group-tabs {
                        display: flex;
                        align-items: center;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        border-radius: 5px 0px 0px 0px;
                        .tab-item {
                            padding: 10px 0;
                            transition: all ease 0.2s;
                            border-right: 1px solid #c8d1dc;
                            > a {
                                padding: 10px 16px;
                                text-decoration: none;
                                font-size: 14px;
                                line-height: 19px;
                                color: #000000;
                            }
                        }
                        .tab-active {
                            background: #ffffff;
                            border-bottom: 2px solid #c73030;
                            > a {
                                font-family: NunitoSansBold;
                            }
                        }
                        .tab-inactive {
                            background: #e5e4e4;
                            > a {
                                font-family: NunitoSansRegular;
                            }
                        }
                    }
                }
                .tab-content {
                    padding: 16px;
                    overflow: hidden;
                    transition: all ease 0.2s;
                    .content-active {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                        z-index: 0;
                    }
                    .content-inactive {
                        display: none;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;
                    }
                    .tab {
                        .title-content {
                            font-family: NunitoSansBold;
                            font-size: 18px;
                            line-height: 25px;
                            padding-bottom: 7px;
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                z-index: 2;
                                border-bottom: 1px solid #c73030;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 2px;
                                width: 100%;
                                border-bottom: 1px solid #e4e4e4;
                            }
                        }
                    }
                    &--description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .title-content {
                            margin-top: 1rem;
                            &::before {
                                width: 50%;
                            }
                        }
                        .content-desciption {
                            margin-top: 1rem;
                        }
                        .poster-sm-description {
                            margin-top: 31px;
                            padding: 0 16px;
                            display: flex;
                            justify-content: space-between;
                            > img {
                                width: 100%;
                                max-width: 476px;
                                max-height: 432px;
                            }
                        }
                        .poster-lg-description {
                            margin-top: 31px;
                            display: flex;
                            justify-content: center;
                            > img {
                                width: 100%;
                                max-width: 720px;
                            }
                        }
                    }
                    &--attribute {
                        margin-top: 24px;
                        padding: 8px 16px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #e5e4e4;
                        border-radius: 5px 5px 0px 0px;
                        box-shadow: 0px 3px 6px #00000029;
                        -moz-box-shadow: 0px 3px 6px #00000029;
                        -webkit-box-shadow: 0px 3px 6px #00000029;
                        > span {
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            color: #000000;
                        }
                    }
                    &--guide {
                        .title-content {
                            margin-top: 40px;
                            &::before {
                                width: 18%;
                            }
                        }
                        .content-guide {
                            margin-top: 1rem;
                            font-family: NunitoSansRegular;
                            font-size: 16px;
                            line-height: 24px;
                            color: #000000;
                        }
                    }
                    &--feedback {
                        .title-content {
                            margin-top: 40px;
                            &::before {
                                width: 10%;
                            }
                        }
                        .subtitle-feedback {
                            margin-top: 1rem;
                            font-family: NunitoSansRegular;
                            font-size: 14px;
                            line-height: 19px;
                            color: #000000;
                        }
                        .rating-feedback {
                            display: flex;
                            .rating--box {
                                width: 54%;
                                max-width: 542px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                &_point {
                                    display: flex;
                                    flex-direction: column;
                                    > span {
                                        margin-top: 13px;
                                        font-family: NunitoSansRegular;
                                        font-size: 14px;
                                        line-height: 19px;
                                        color: #000000;
                                    }
                                    .rating-total-point {
                                        margin-top: 7px;
                                        font-family: NunitoSansBold;
                                        font-size: 80px;
                                        line-height: 80px;
                                        text-align: center;
                                        color: #c73030;
                                    }
                                    > div {
                                        > img {
                                        }
                                        > span {
                                            padding-left: 6px;
                                            font-family: NunitoSansRegular;
                                            font-size: 14px;
                                            line-height: 19px;
                                            color: #000000;
                                        }
                                    }
                                }
                                &_process {
                                    .process-line {
                                        margin-top: 12px;
                                        display: flex;
                                        align-items: center;
                                        font-family: NunitoSansRegular;
                                        font-size: 14px;
                                        line-height: 19px;
                                        color: #000000;
                                        &:nth-child(1) {
                                            margin-top: 0;
                                            .countbar {
                                                &::before {
                                                    width: 40%;
                                                }
                                            }
                                        }
                                        .countbar {
                                            content: '';
                                            width: 6.375rem;
                                            height: 12px;
                                            border-radius: 2px;
                                            position: relative;
                                            margin-left: 11px;
                                            margin-right: 13px;
                                            &:before {
                                                content: '';
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                                z-index: 2;
                                                width: 0%;
                                                border-radius: 2px;
                                                border-bottom: 12px solid
                                                    #c73030;
                                            }
                                            &:after {
                                                content: '';
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                                width: 100%;
                                                border-radius: 2px;
                                                border-bottom: 12px solid
                                                    #e5e4e4;
                                            }
                                        }
                                        .point {
                                            display: flex;
                                            > span {
                                                font-family: NunitoSansRegular;
                                                font-size: 14px;
                                                line-height: 19px;
                                                color: #000000;
                                                &:nth-last-child(2) {
                                                    width: 30px;
                                                }
                                                &:nth-last-child(1) {
                                                    white-space: nowrap;
                                                    padding-left: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .making-feedback {
                                width: 46%;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                justify-content: center;
                                > span {
                                    font-family: NunitoSansRegular;
                                    font-size: 14px;
                                    line-height: 19px;
                                    color: #000000;
                                }
                                .btn-feedback {
                                    > button {
                                        margin-top: 18px;
                                        min-height: 39px;
                                        min-width: 192px;
                                        > a {
                                            .title-button {
                                                justify-content: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .content-feedback {
                            .title-box-feedback {
                                margin-top: 21px;
                                display: flex;
                                padding: 8px 16px;
                                align-items: center;
                                justify-content: space-between;
                                background: #e5e4e4;
                                border-radius: 5px 5px 0px 0px;
                                box-shadow: 0px 3px 6px #00000029;
                                -moz-box-shadow: 0px 3px 6px #00000029;
                                -webkit-box-shadow: 0px 3px 6px #00000029;
                                > span {
                                    font-family: NunitoSansRegular;
                                    font-size: 14px;
                                    line-height: 19px;
                                    color: #000000;
                                }
                            }
                            .list-group-feedback {
                                .item-feedback {
                                    margin-top: 1rem;
                                    display: flex;
                                    flex-direction: column;
                                    .feedback-info {
                                        display: flex;
                                        justify-content: space-between;
                                        font-size: 14px;
                                        line-height: 19px;
                                        color: #000000;
                                        &--user {
                                            > span {
                                                padding-left: 10px;
                                                font-family: NunitoSansBold;
                                            }
                                        }
                                        &--timer {
                                            font-family: NunitoSansRegular;
                                        }
                                    }
                                    .feedback-content {
                                        margin-top: 5px;
                                        font-size: 14px;
                                        line-height: 19px;
                                        &--title {
                                            display: flex;
                                            > span {
                                                color: #707070;
                                                padding-right: 8px;
                                            }
                                            > div {
                                                display: flex;
                                                align-items: center;
                                                color: #c73030;
                                                > img {
                                                    padding-right: 5px;
                                                }
                                            }
                                        }
                                        &--comment {
                                            margin-top: 5px;
                                            color: #000000;
                                        }
                                    }
                                    .feedback-image {
                                        margin-top: 18px;
                                        display: flex;
                                        > div {
                                            max-width: 160px;
                                            padding-right: 1rem;
                                            &:nth-last-child(1) {
                                                padding-right: 0;
                                            }
                                            > img {
                                                width: 100%;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &--question {
                        .title-content {
                            &::before {
                                width: 10%;
                            }
                        }
                        .send-question-box {
                            margin-top: 1rem;
                            display: flex;
                            align-items: center;
                            > input {
                                width: 100%;
                                padding: 11px 16px;
                                background: #ffffff;
                                border: 1px solid #d4d4d4;
                                border-radius: 5px;
                                box-shadow: 0px 3px 6px #00000029;
                                -moz-box-shadow: 0px 3px 6px #00000029;
                                -webkit-box-shadow: 0px 3px 6px #00000029;
                            }
                            .ccs-btn {
                                padding-left: 8px;
                                > button {
                                    padding: 0 28px;
                                    min-height: 40px;
                                }
                            }
                        }
                        .item-question {
                            max-height: 442px;
                            overflow: hidden;
                            padding-bottom: 8px;
                            .item-parent {
                                margin-top: 1rem;
                                font-size: 18px;
                                line-height: 25px;
                                .title-question {
                                    font-family: NunitoSansBold;
                                    color: #000000;
                                }
                                .content-question {
                                    margin-top: 5px;
                                    font-family: NunitoSansRegular;
                                    color: #000000;
                                }
                                .list-actions {
                                    margin-top: 10px;
                                    > img {
                                    }
                                    > a {
                                        font-family: NunitoSansRegular;
                                        color: #000000;
                                        cursor: pointer;
                                    }
                                    .like-action {
                                        padding-left: 8px;
                                        color: #707070;
                                        > span {
                                            padding-left: 5px;
                                        }
                                    }
                                    .reply-action {
                                        padding-left: 18px;
                                        color: #c73030;
                                    }
                                }
                                .reply-question-box {
                                    display: none !important;
                                    margin-top: 1rem;
                                    > div {
                                        display: flex;
                                        align-items: flex-start;
                                        .reply-textarea {
                                            width: 100%;
                                            padding: 5px 16px;
                                            min-height: 60px;
                                            background: #ffffff;
                                            border: 1px solid #d4d4d4;
                                            border-radius: 5px;
                                        }
                                        .ccs-btn {
                                            padding-left: 8px;
                                            > button {
                                                padding: 0 28px;
                                                min-height: 40px;
                                            }
                                        }
                                    }
                                }
                                .active-box {
                                    display: block !important;
                                }
                            }
                            .item-child {
                                padding-left: 32px;
                            }
                            .show-all-questions {
                                margin-top: 8px;
                                > a {
                                    font-family: NunitoSansRegular;
                                    font-size: 14px;
                                    line-height: 19px;
                                    text-decoration: none;
                                    color: #000000;
                                }
                            }
                        }
                    }
                }
            }
        }
        &--right {
            width: 19%;
            margin-top: 1rem;
            max-width: 240px;
            > div {
                .common-card {
                    padding: 0;
                    border-radius: 5px;
                    flex-direction: column;
                    justify-content: center;
                    .ccs-card-header--left {
                        width: 100%;
                        padding: 11px 0;
                        justify-content: center;
                        background: #ffffff;
                        border-radius: 5px;
                        .ccs-card-header--left__title {
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                    .ccs-card-header--right {
                        width: 100%;
                        padding: 11px 0;
                        justify-content: center;
                        background: #f3f3f3;
                        border-radius: 0px 0px 5px 5px;
                        > span {
                            color: #000000;
                            text-transform: unset;
                        }
                    }
                }
            }
            .tab-delivery {
                .delivery-card {
                    background: #ffffff;
                    box-shadow: 0px 3px 6px #00000029;
                    -moz-box-shadow: 0px 3px 6px #00000029;
                    -webkit-box-shadow: 0px 3px 6px #00000029;
                    .ccs-card-header--body {
                        padding: 16px 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        border-top: 1px solid #d4d4d4;
                        .item-delivery {
                            display: flex;
                            align-items: center;
                            margin-top: 12px;
                            padding: 0 15px;
                            &:nth-child(1) {
                                margin-top: 0;
                            }
                            &:nth-last-child(1) {
                                padding: 0 15px 0 0;
                            }
                            > span {
                                padding-left: 7px;
                                font-size: 14px;
                                line-height: 18px;
                                color: #000000;
                                > span {
                                    font-family: NunitoSansBold;
                                }
                            }
                        }
                    }
                }
            }

            .tab-product-related {
                margin-top: 24px;
                .product-related-card {
                    background: #ffffff;
                    box-shadow: 0px 3px 6px #00000029;
                    -moz-box-shadow: 0px 3px 6px #00000029;
                    -webkit-box-shadow: 0px 3px 6px #00000029;
                    .ccs-card-header--body {
                        width: 100%;
                        .list-products-wrapper {
                            border-top: 1px solid #d4d4d4;
                            padding: 16px 8px;
                            overflow: hidden;
                            .ccs-cart-product {
                                &--thumb {
                                    max-width: 108px;
                                    min-width: 108px;
                                    padding-right: 8px;
                                }
                                &--body {
                                    padding: 0;
                                    &__title {
                                        font-size: 14px;
                                        line-height: 24px;
                                    }
                                    &__subtitle {
                                        font-size: 14px;
                                        line-height: 21px;
                                        padding: 0;
                                        max-width: 50%;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                                .product-body-custom {
                                    display: flex;
                                    flex-direction: column;
                                    > span {
                                        &:nth-child(1) {
                                            margin-top: 8px;
                                            font-size: 14px;
                                            line-height: 19px;
                                            color: #c73030;
                                        }
                                        &:nth-last-child(1) {
                                            font-size: 12px;
                                            line-height: 16px;
                                            color: #707070;
                                            text-decoration: line-through;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .tab-product-trending {
                margin-top: 24px;
                .product-trending-card {
                    background: #ffffff;
                    box-shadow: 0px 3px 6px #00000029;
                    -moz-box-shadow: 0px 3px 6px #00000029;
                    -webkit-box-shadow: 0px 3px 6px #00000029;
                    .ccs-card-header--body {
                        width: 100%;
                        .list-products-wrapper {
                            border-top: 1px solid #d4d4d4;
                            padding: 16px 8px;
                            overflow: hidden;
                            .ccs-item-wrap {
                                margin-top: 23px;
                                &:nth-child(1) {
                                    margin-top: 0;
                                }
                                > img {
                                    max-width: 224px;
                                    min-height: 224px;
                                }
                            }
                            .item-pd-8-16 {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
